@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark { */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: oklch(64.53% 0.292 2.47);
  color: #fefefe;
}

html {
  min-width: 360px;
}

/* Anchor style */
.prose .anchor {
  @apply absolute -ml-4 w-full max-w-[700px] cursor-pointer pt-[2px] text-2xl no-underline opacity-0 transition-all hover:opacity-100;
}

.prose .anchor:after {
  @apply text-slate-300;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

/* Pre - surroundings and background */
.prose pre {
  /* @apply border border-neutral-800 bg-neutral-900; */
  @apply border border-slate-700 bg-slate-800;
}

/* Inline code */
.prose code {
  /* @apply rounded-lg border border-neutral-100 bg-neutral-100 px-1 py-0.5 text-neutral-800 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-200; */
  @apply rounded-lg bg-slate-800 p-1 text-neutral-200;
}

/* .prose pre code {
  /* @apply p-0 text-neutral-800 dark:text-neutral-200; */
/* @apply p-0 text-red-600; */
/* border: initial; 
} */

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral-50;
} */

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

/* Whole code wrapper */
[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

/* Code > Pre > Lines */
[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto border-transparent px-0 py-3;
}

/* Makes sure line count and code lines are correctly aligned */
code > [data-line] {
  @apply flex items-center border-l-4 border-transparent;
}

/* Line count */
code > [data-line]::before {
  @apply inline-block text-slate-600;
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-left: 0.3rem;
  margin-right: 1.5rem;
  text-align: right;
  /* color: gray; */
}
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

/* Not sure */
/* code[data-rehype-pretty-code-fragment] > [data-line] {
  @apply border-l-4 border-red-50;
} */

/* Don't think it's useful */
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

/* Highlighted lines */
div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-pink-500 bg-gray-500 bg-opacity-20;
}

/* Above the code */
[data-rehype-pretty-code-title] {
  /* @apply rounded-t-lg border border-[#333333] bg-[#1c1c1c] px-4 py-3 font-mono text-xs font-medium text-neutral-200; */
  @apply rounded-t-lg border-b border-slate-700 bg-slate-900 px-4 py-3 font-mono text-xs font-medium text-neutral-200;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* Caption below the code */
[data-rehype-pretty-code-caption] {
  @apply -mt-7 px-1 py-3 font-mono text-sm text-slate-300;
}

/* Highlight texts */
[data-chars-id='p'] {
  @apply rounded-md border-b-2 border-purple-500 bg-purple-800 bg-opacity-50 px-0.5 pt-0.5 font-bold;
}

[data-chars-id='b'] {
  @apply rounded-md border-b-2 border-blue-500 bg-blue-800 bg-opacity-50 px-0.5 pt-0.5 font-bold;
}

[data-chars-id='g'] {
  @apply rounded-md border-b-2 border-green-500 bg-green-800 bg-opacity-50 px-0.5 pt-0.5 font-bold;
}

[data-chars-id='r'] {
  @apply rounded-md border-b-2 border-red-500 bg-red-800 bg-opacity-50 px-0.5 pt-0.5 font-bold;
}
